## Working With SQLite

SQLite comes standard with Python so all you need to do to get it set up is write:

`import sqlite3`

There are specific python modules that you can use to work with SQL dbs depending on the DB.

- Microsoft SQL = pymssql
- Postgres = psycopg2
- MySQLdb = MySQLDB

### Creating a Connection

Before you can do anything with your DB, you must first create a connection with it. For DBs that are server based, this can be more coplicated requiring you to know the server ip, a username, password database name, and port. 
``` python 
import MySQLdb
conn = MySQLdb.connect(host=host, user=user, passwd=passwd, db=db)
```

For SQLite, this is much easier because you just need to access the flat file where the DB is stored.

In [1]:
import sqlite3

conn = sqlite3.connect('tutorial.db')

#### Cursor
This temporary work area is used to store the data retrieved from the database, and manipulate this data. 

A cursor can hold more than one row, but can process only one row at a time. 

The set of rows the cursor holds is called the active set.

In [2]:
c = conn.cursor()

#### Create a Table
Now that we have a connection and a cursor, lets create a table.

#### SQLite Data Types

Any column declared in an SQLite database is assigned a type affinity depending on it declared data type. Here the list of type affinities in SQLite:

- TEXT
- NUMERIC
- INTEGER
- REAL
- BLOB

However, you still can store any type of data as you wish, these types are recommended not required.

These types were introduced in SQLite to maximize the compatibility between SQLite and other database management system.

In [ ]:
create_query = """CREATE TABLE IF NOT EXISTS stuffToPlot
        (unix REAL, datestamp TEXT, keyword TEXT, value REAL)"""
def create_table(query):
    c.execute(query)

In [ ]:
insert_query = """INSERT INTO stuffToPlot VALUES
                (1452549219,'2016-01-11 13:53:39','Python',6)"""
def data_entry(query):
    c.execute(query)

    conn.commit()
    
def close_c_conn():
    c.close()
    conn.close()

In [ ]:
create_table(create_query)
data_entry(insert_query)

close_c_conn()

#### Inserting Data dynamically

In [ ]:
import time
import datetime
import random

In [ ]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [ ]:
def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))

    conn.commit()

In [ ]:
for i in range(10):
    dynamic_data_entry()
    time.sleep(1)

# c.close
# conn.close()

We can also write a query that reads from the DB

In [ ]:
def read_from_db():
    c.execute('SELECT * FROM stuffToPlot')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

We can also read a table straight into a pandas DF.

In [ ]:
import pandas as pd
pd.read_sql_query("select * from stuffToPlot;", conn)

And we can create a DB table directly from a pandas DF.

In [ ]:
cities = pd.read_csv('cities.csv')
cities.head()

In [ ]:
cities.to_sql("cities", conn, if_exists="replace")

In [ ]:
def read_from_db():
    c.execute('SELECT * FROM cities LIMIT 10')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

### Your Turn

In the zip folder you have a json file with informationa bout all of the students in this class.  
- Read in the JSON file
- Examine data in file
- Create a table for the data
- Create a function to insert each data entry dynamically
- Insert Data
- Write queries to answer the following questions

In [3]:
#your code here
import json
f=open('students.json','r')
data=json.load(f)

In [4]:
data

[{'name': 'Sean Abu Wilson',
  'birthdate': '02/06',
  'siblings': 2,
  'Birthplace': 'Birmingham, AL',
  'yearsinnyc': 7.6,
  'favoritefood': 'guacamole'},
 {'name': 'David Miller',
  'birthdate': '06/06',
  'siblings': 2,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 25.75,
  'favoritefood': 'pizza'},
 {'name': 'Abhijeet Kamble',
  'birthdate': '05/07',
  'siblings': 0,
  'Birthplace': 'Wardha India',
  'yearsinnyc': 0.5,
  'favoritefood': 'Biriyani'},
 {'name': 'Samantha Jackson',
  'birthdate': '08/04',
  'siblings': 2,
  'Birthplace': 'Newport, RI',
  'yearsinnyc': 12.5,
  'favoritefood': 'chocolate chip cookies'},
 {'name': 'Anmol Srivats',
  'birthdate': '11/19',
  'siblings': 0,
  'Birthplace': 'Bangalore, India',
  'yearsinnyc': 0.05,
  'favoritefood': 'Sushi'},
 {'name': 'Ran Tokman',
  'birthdate': '03/19',
  'siblings': 2,
  'Birthplace': 'Haifa, Israel',
  'yearsinnyc': 8,
  'favoritefood': 'cheesecake'},
 {'name': 'Amy Li',
  'birthdate': '12/29',
  'siblings': 1,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 18,
  'favoritefood': 'dumplings'},
 {'name': 'Florencia Leoni',
  'birthdate': '06/07',
  'siblings': 4,
  'Birthplace': 'Caracas, Venezuela',
  'yearsinnyc': 1.2,
  'favoritefood': 'steak'},
 {'name': 'Austin Krause',
  'birthdate': '10/22',
  'siblings': 1,
  'Birthplace': 'Lansing, MI',
  'yearsinnyc': 0.17,
  'favoritefood': 'Everything Bagels'},
 {'name': 'Natalie Overchuk',
  'birthdate': '01/02',
  'siblings': 2,
  'Birthplace': 'Kiev, Ukraine',
  'yearsinnyc': 0.1,
  'favoritefood': 'pasta'},
 {'name': 'Akshay Sharma',
  'birthdate': '04/30',
  'siblings': 2,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 24,
  'favoritefood': 'pizza'},
 {'name': 'Mohamad Eldebek',
  'birthdate': '01/21',
  'siblings': 4,
  'Birthplace': 'Beirut, Leb',
  'yearsinnyc': 17,
  'favoritefood': 'Tabouleh'},
 {'name': 'Adam Dick',
  'birthdate': '05/06',
  'siblings': 0,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 30,
  'favoritefood': 'noodles'},
 {'name': 'Menachi Korn',
  'birthdate': '04/11',
  'siblings': 4,
  'Birthplace': 'Denville, N.J.',
  'yearsinnyc': 18,
  'favoritefood': 'falafel'},
 {'name': 'Miguel Peña',
  'birthdate': '08/14',
  'siblings': 4,
  'Birthplace': 'Lima, Peru',
  'yearsinnyc': 8,
  'favoritefood': 'rice'},
 {'name': 'Atiar Rahman',
  'birthdate': '02/21',
  'siblings': 2,
  'Birthplace': 'Bangladesh',
  'yearsinnyc': 22,
  'favoritefood': 'Reeses Puffs'},
 {'name': 'Fhel Dimaano',
  'birthdate': '08/20',
  'siblings': 1,
  'Birthplace': 'Manila, Philippines',
  'yearsinnyc': 30,
  'favoritefood': 'Kare Kare'},
 {'name': 'Maks Pazuniak',
  'birthdate': '12/19',
  'siblings': 2,
  'Birthplace': 'Wilmington, DE',
  'yearsinnyc': 15,
  'favoritefood': 'pho'},
 {'name': 'Alex Mitrani',
  'birthdate': '12/06',
  'siblings': 1,
  'Birthplace': 'New York, NY',
  'yearsinnyc': 28,
  'favoritefood': 'Fusilli Sorrentina'},
 {'name': 'Yish Lim',
  'birthdate': '11/21',
  'siblings': 2,
  'Birthplace': 'Singapore',
  'yearsinnyc': 5,
  'favoritefood': 'burgers'},
 {'name': 'Nicole Roach',
  'birthdate': '06/16',
  'siblings': 1,
  'Birthplace': 'Brooklyn, NY',
  'yearsinnyc': 18,
  'favoritefood': 'steak'},
 {'name': 'Omer Hakim',
  'birthdate': '04/30',
  'siblings': 3,
  'Birthplace': 'Haifa, Israel',
  'yearsinnyc': 3.5,
  'favoritefood': 'Avocado'}]

In [6]:
import sqlite3

conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [8]:

c.execute('''
CREATE TABLE students(
name TEXT,
birthdate TEXT,
siblings INTEGER,
birth_place TEXT,
years_in_nyc REAL,
favorite_food TEXT
);
''')

c.commit()

OperationalError: table students already exists

In [ ]:
#If you get this error, you can clear a previously named table (WARNING: ALL DATA WILL BE LOST!!)
c.execute("""Drop Table if Exists students;""")

#From there, you can then recreate the table using the above code.

In [13]:
conn.commit()

In [ ]:
def insert_data(i):

In [12]:
for i in data:
  c.execute('''INSERT INTO students
  (name, birthdate, siblings, birth_place, years_in_nyc, favorite_food) VALUES (?, ?, ?, ? , ? , ? )''',
     (i['name'],i['birthdate'], i['siblings'], i['Birthplace'], i['yearsinnyc'], i['favoritefood']))

In [ ]:
content_file:
    raw = json.load(content_file)
    records = []
    
    for line in content_file:
        jo = line
        record = (jo.get('name'), jo.get('birthdate'), jo.get('siblings'), jo.get('Birthplace'), jo.get('yearsinnyc'), jo.get('favoritefood'))
        records.append(record)

    try:
        conn = sqlite3.connect("students")
        c = conn.cursor()
        c.executemany("INSERT INTO students VALUES (?, ?, ?, ?, ?, ?,?)", records)
        conn.commit()
#         conn.close()
    except:
        # TODO: logging here
        raise

print("Finished Processing")